<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.CleverTap.Login"
        version="0.1.0">

  <name>CleverTapLogin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/cleverTapLogin.js" target="js/cleverTapLogin.js"/>

  <js-module src="www/cleverTapLogin.js" name="cleverTapLogin">
    <clobbers target="cleverTapLogin" />
  </js-module>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="CleverTapLogin">
        <param name="ios-package" value="CleverTapLoginiOS" />
      </feature>
    </config-file>

    <header-file src="src/ios/CleverTapLoginiOS.h" target-dir="CTloginPlugin"/>
    <source-file src="src/ios/CleverTapLoginiOS.m" target-dir="CTloginPlugin"/>
  </platform>

</plugin>
